.container {
  display: flex;
  width: 100%;
  height: 100vh;
  color: rgb(208, 208, 208);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2d4263;
    border-radius: 3px;
    &:hover {
      background-color: turquoise;
    }
  }
}

a {
  color: #dadada;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  position: relative;
  z-index: 1;
  font-weight: 600;
  &::after {
    content: "";
    width: 110%;
    border-radius: 4px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #c84b31;
    z-index: -1;
  }
}

.blogpost-wrap {
  *:not(p) {
    color: transparent;
    text-shadow: 2px 2px 1px #dadada;
  }
  p {
    color: transparent;
    text-shadow: 2px 2px 3px #dadada;
  }
  &:hover * {
    color: #dadada;
    text-shadow: none;
  }
}

.navbar-title {
  font-family: "Lobster";
  color: #d0d0d0;
  font-weight: 600;
  margin: 0 auto;
}

.navbar-item {
  color: #d0d0d0;
  font-weight: 600;
}
