@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: pink;
  --code-background-inline: #f0f0f4;
  --text-secondary: #5b5b66;
  --elem-radius: 0.25rem;
  --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --type-code-regular: 400 0.875rem/1.5 var(--font-code);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3,
.blog-post-container h4,
.blog-post-container h5,
.blog-post-container h6 {
  /* font-size: large; */
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  line-height: 1.35;
  font-size: large;
  font-weight: 700;
}

.blog-post-container p,
.blog-post-container ul {
  margin-bottom: 1.2rem;
}

.blog-post-container ul {
  list-style-type: circle;
}

.blog-post-container code {
  color: var(--text-secondary);
  background: var(--code-background-inline);
  padding: 0.125rem 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

pre {
  border-radius: var(--elem-radius);
  font: var(--type-code-regular);
  margin: 1rem 0;
}
