@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: pink;
  --code-background-inline: rgba(91, 255, 156, 0.2);
  --text-secondary: #000;
  --elem-radius: 3px;
  --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --type-code-regular: 400 0.875rem/1.5 var(--font-code);
  --pre-bg: #f8f8f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

a:hover {
  background-color: rgba(245, 218, 85, 0.35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  transition: all 0.1s ease-out;
}

* {
  box-sizing: border-box;
}

.blog-post-container h1,
.blog-post-container h2,
.blog-post-container h3,
.blog-post-container h4,
.blog-post-container h5,
.blog-post-container h6 {
  /* font-size: large; */
  margin-top: 2.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.35;
  font-size: large;
  font-weight: 700;
}

.blog-post-container p,
.blog-post-container ul,
.blog-post-container ol {
  margin-bottom: 1.2rem;
  line-height: 1.75;
}

.blog-post-container ul {
  list-style-type: circle;
  margin-left: 1em;
}

.blog-post-container ol {
  list-style-type: auto;
  margin-left: 1em;
}

.blog-post-container blockquote {
  border-left: 2px solid #5d44ff;
  padding: 0 0 0 10px;
  color: #6b6b6b;
  background-color: #297bc20f;
  border-radius: 2px;
}

.blog-post-container :not(pre) code {
  color: var(--text-secondary);
  background: var(--code-background-inline);
  padding: 0.125rem 0.25rem;
  border-radius: 6px;
  width: 100%;
}

pre {
  border-radius: var(--elem-radius);
  font: var(--type-code-regular);
  margin: 1rem 0;
}

pre code.hljs {
  border-radius: var(--elem-radius);
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
  background-color: var(--pre-bg);
}

hr.hr-fade-content {
  color: #a2a9b6;
  border: 0;
  font-size: 12px;
  padding: 1em 0;
  position: relative;
  margin-top: 4em;
  -webkit-mask-image: linear-gradient(to right, transparent, black, transparent);
  mask-image: linear-gradient(to right, transparent, black, transparent);
}

hr.hr-fade-content::before {
  content: attr(data-content);
  position: absolute;
  padding: 0 1ch;
  line-height: 1px;
  border: solid #d0d0d5;
  border-width: 0 99vw;
  width: fit-content;
  /* for 不支持 fit-content 浏览器 */
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}

table {
  width: 100%;
  margin: 1.2em 0 2em;
}

table thead {
  background-color: #f6f6f6;
  text-align: left;
}